@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  background-color: #1D1D1D;
  color: #ccc;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  min-height: 100vh;
}
#wrapper .container {
  max-width: 550px;
  margin: auto;
}
#wrapper #head {
  background-color: #111111;
  box-shadow: 0 3px 6px #000;
  display: flex;
  align-items: center;
  width: 100vw;
  margin-bottom: 0.5rem;
}
#wrapper #head .logo {
  flex: 1;
  padding: 1rem 0.5rem;
  font-weight: bold;
}
#wrapper #head .service {
  text-transform: capitalize;
  padding: 0.5rem;
  font-family: "Montserrat Semi-bold" sans-serif;
  font-weight: 500;
  margin-right: 0.5rem;
}
#wrapper .speech {
  padding: 1.5rem;
  margin-bottom: 0.5rem;
}
#wrapper .insult {
  border: 1px solid #999999;
  max-width: 300px;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#wrapper .btn {
  display: block;
  outline: none;
  width: max-content;
  padding: 0.5rem;
  margin: auto;
  color: #1d1d1d;
  background-color: #999;
  border-radius: 20px;
  border: 1px solid #2d2d2d;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: 0.3s;
}
#wrapper .btn:hover {
  background-color: #fff;
  color: #000;
}
#wrapper .foot {
  background-color: #111111;
  box-shadow: 0 -3px 6px #000;
  display: flex;
  align-items: center;
  width: 100vw;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 1rem;
}
#wrapper .foot p {
  width: 100%;
  text-align: center;
}